In [1]:
import pandas as pd

In [13]:
pd.read_csv("data/netGN_sample.time_final.par", sep ="\t", skiprows = [0, 1], )

                      % x, y, z, ground truth community id, assigned community id, node_id
1.22  0.81 -1.32 0 3                                                  1
1.31  0.41 -1.35 0 3                                                  2
1.29  0.65 -1.50 0 3                                                  7
1.53  0.37 -1.79 0 3                                                 10
1.28  0.63 -1.30 0 3                                                 11
...                                                                 ...
0.75 -2.03  0.57 0 2                                                 90
0.54 -1.75  0.47 0 2                                                100
0.46 -1.94  0.13 0 2                                                121
0.62 -2.00  0.29 0 2                                                 46
0.36 -1.83  0.42 0 2                                                 53

[128 rows x 1 columns]